<div data-role="content">
	<ul data-role="listview">
		<li><%= link_to t(:contact_path) , contact_path %></li>
		<li><%= link_to t(:about_path)   , about_path   %></li>
		<li><%= link_to t(:sign_in)      , '#' %></li>
	</u>
</div>